.wrapper{
 height: 100%;
}

#photo {
  width: 400;       /* Set the width */

  padding: 10px;
  margin-left: -450px;
  margin-top: 25px;
}

#price {
  text-align: center;
}
#profile-info {
  background-color: rgba(255, 249, 192, 0.5);
  // display: center;
  // display-items: center;
  margin-top: -575px;
  margin-left: 450px;

  //background-color: rgba(255, 249, 192, 0.25);
  width: 400px;
  height: 150px;
  border-radius: 4px;
  align-items: stretch;
  border-radius: 10px;
  //border: solid 0.1px;


}
#conditions {
  margin-left: 450px;
  margin-top: 25px;
  background-color: rgba(255, 249, 192, 0.5);
  background-color: rgba(255, 249, 192, 0.5);
  display: center;
  display-items: center;

  vertical-align: middle;
  //background-color: rgba(255, 249, 192, 0.25);
  //opacity: 0.8;
  width: 400px;
  height: 125px;
  border-radius: 4px;
  align-items: stretch;
  border-radius: 10px;
  //border: solid 0.1px;
}

#profile-description {
background-color: rgba(255, 249, 192, 0.5);
width: 800px;
height: 200px;
margin-left: 50px;
margin-top: 25px;
border-radius: 10px;

}
#name-pic {
  //background-color: rgba(255, 249, 192, 0.5);
  // display: center;
  // display-items: center;

  margin-top: 100px;
  vertical-align: middle;
  background-color: rgba(255, 249, 192, 0.4);
  //opacity: 0.8;
  width: 900px;
  height: 600px;
  border-radius: 10px;

  //border: solid 0.1px;

  h2 {
    margin-left: -450px;
    margin-top: -20px;
  }

}

.card {
  h4 {
    margin-left: 15px;
  }
  p{
    margin-left: 15px
  }
}


