<div class="footer">
  <div class="footer-links">
    <a href="http://cams.allaboutbirds.org/"><i class="fab fa-github"></i></a>
    <a href="http://cams.allaboutbirds.org/"><i class="fab fa-instagram"></i></a>
    <a href="http://cams.allaboutbirds.org/"><i class="fab fa-facebook"></i></a>
    <a href="http://cams.allaboutbirds.org/"><i class="fab fa-twitter"></i></a>
    
  </div>
  <div class="footer-copyright"><%=
    "Peace of Mind with "%><i class="fa fa-heart"></i><%=
    " from the BB Team "%>
  </div>
</div>
