<div style="height: 100px;">

</div>
<div class="card-resnum">
<h1>Reservation info:</h1>
<h2>Date: <%= @reservation.reservation_date %></h2>
<h3>Babysitter's name: <%= @reservation.parent.last_name %></h3>
</div>
