.wrapper.index {

  background-size: cover;
}

#nophoto {
  border-radius:10px

 }


.cards {

  background-size: 300px 285px;
  background-repeat: no-repeat;
  margin-top:50px;
  height: 325px;
  width: 300px;
  text-shadow: 3 3px 2px rgba(0,0,0,1);
  background-color: white;
  color: #999999;
  position: relative;
  border-radius:10px;
  opacity: 0.9;
  box-shadow: 1px 2px 4px -1px rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

  #photoindex {
  border-radius:10px;
  height: 225px;
  width: 300px;




}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-category {
  position: absolute;
  top: -70px;
  left: -36px;
  font-size: 15px;
  text-transform: uppercase;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 20px;
  padding: 80px 50px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
    color: #131313;
    background-color: transparent;
    letter-spacing: .15em;
}
.card-description {
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.card-language {
  position: relative;
  bottom: -6px;
  right: -10px;


}
.card-language h2 {
  position: relative;
  font-size: 10px;
  bottom: 53.5px;
  left: 63px;
 font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  padding: 80px 50px;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  color: #131313;
  background-color: transparent;
  letter-spacing: .10em;
}

.card-description h2 {
      position: relative;
    font-size: 20px;
    bottom: -222.5px;
    margin-left: -33px;
    padding-top: 15px;
    text-align: left;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 15px;
    padding: 80px 50px;
    text-align: left;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    color: #131313;
    background-color: transparent;
    letter-spacing: .15em;
  }

.card-description p {
  position: relative;
  font-size: 20px;
  opacity: 0.7;
  text-align: left;
  left: -34px;
  bottom: -53px;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 15px;
  padding: 80px 50px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  color: #131313;
  background-color: transparent;
  letter-spacing: .15em;
  }

.card-link {
  position: relative;
  bottom: 185px;
  right: -75px;
  z-index: 2;
  opacity: 1;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 10px;
  padding: 80px 50px;
  text-align: right;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  color: #131313;
  background-color: transparent;
  letter-spacing: .10em;
}

.card-link:hover {
  opacity: 0.8;
  text-decoration:none;
}

.cards:hover {
  opacity: 1;
}


//--------Reservation Cards----------
// .card-link-reservation a {
//   width: 100%;
//   height: 100%;
//   position: absolute;
// }

.card-description-reservation {
  position: absolute;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 10px;
  bottom: 10px;
  left: 10px;
}

.card-category-reservation {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.cards-reservation {

  background-size: 300px 285px;
  background-repeat: no-repeat;
  margin-top:50px;
  height: 350px;
  width: 300px;
  text-shadow: 3 3px 2px rgba(0,0,0,1);
  background-color: white;
  color: #999999;
  position: relative;
  border-radius:10px;
  opacity: 0.9;
  box-shadow: 1px 2px 4px -1px rgba(0, 0, 0, 0.7)
}

