.cards {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://i.stack.imgur.com/WmvM0.png');
  background-size: 300px 285px;
  background-repeat: no-repeat;
  margin-top:50px;
  height: 375px;
  width: 300px;
  text-shadow: 0 1px 1px rgba(0,0,0,1);
  background-color: white;
  color: white;
  position: relative;
  border-radius: 5px;

}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-language {
  position: absolute;
  bottom:0px;
  right: 10px;

}
.card-language h2 {
  font-size: 20px;

}

.card-description h2 {
  font-size: 20px;
  margin-bottom: -2.5px;
  padding: 5px;
  padding-top: 15px;
  text-align: left;
}
.card-description p {
  font-size: 20px;
  opacity: 0.7;
  font-weight: lighter;
}
.card-link {
  position: relative;
  bottom: 0;
  right: 10px;
  z-index: 2;
  opacity: 1;
}
.card-link:hover {
  opacity: 0.8;
  text-decoration:none;
}

.cards:hover {
opacity: 0.8;
}


